

.scroll-nav-enabled { //dynamically added to body
  .content {
    margin-top: 100px; //arbitrary value according to stickynav height
  }
}

//scroll navigation menu
.scroll-nav {
  background: #f90;
  position: relative;

  a {
    padding: 5px; 
    
    &.active {
      background: #800080;
      color: #fff;
    }
  }
}

//optional, for sticky nav
.scroll-nav--sticky {
  left: 50%;
  transform: translateX(-50%); //avoids paint and layout
  width: 90%;

  // lte ie9 (using modernizr)
  .no-csstransforms & {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  opacity: .9;
  position: fixed;
  top: 0;
  z-index: 10;

}




//Demo styling:
.content {
  padding-top: 0;
  //width: 90%;
  header {
    z-index: 2; //set site nav z-index to lower than sticky nav
  }

  section {
    margin: 0 auto;
    width: 90%;

    img {
      width: 100%;
      height: auto;
    }
  }

}

//horizontal list
.horizontal-list {
  list-style: none;

  li {
    display: inline-block;
  }
}
