// refs:
//http://thesassway.com/advanced/pure-sass-functions

//calculate percentage size of target, given container size and target size
@function calc-pc($target, $container) {
  @return ($target / $container) * 100%;
}

//usage:
.my-module {
  width: calc-pc(650px, 1000px);
}