//colour variables

$light: #fff;
$dark: #333;

$white: #fff;
$black: #000;
$olive: #80991c;
$greydk: #333;
$greymid: #555;
$grey: #888;
$greylt: #ccc;
$olivedk: #6b7a32;

$red: #f00;

$orange: #f90;
$yellow: #ff0;
$green: #008000;
$blue: #00f;
$purple: #800080;

