
//primary navigation
.primary-nav {  
  float: right;
  padding-top: 10px;

  .simple-nav & {
    top: 74px;
  }

  @include bp(tabletport){
    float: none;
    position: absolute;
    right: 0;
    bottom: 0;

    .simple-nav & {
      top: 40px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: block;

      @include bp(tabletport){
        display: inline-block;   

        span {
          display: none;
        }     
      }

    }


    a {
      color: $white;

      &:hover,
      &:focus,
      &.active {
        color: $greylt;
        text-decoration: none;
      }

      @include bp(tabletport){
        display: block;
        padding: .5em;        
      }
    }


  }


}



.menu-button {
  display: none;
}


@include bp(mobileonly){

   //mobile menu button
  .menu-button {
    border-radius: 50% 50%;
    border: 2px solid $greylt;
    color: $white;
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;

    //hide text
    text-indent: -100px;
    overflow: hidden;
    font-size: 1px;

    transition: background-color .5s ease;
    background-color: $greydk;

    &:after {
      content: '';
      color: $white;
      //background: url('/assets/img/menu.svg') no-repeat center;
      position: absolute;
      top: 0;
      left: 5px;
      height: 50px;
      width: 50px;
    }

    .menu_svg { //inline svg icon
      width: 30px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 8px;
      transition: all .5s ease;
      fill: $white;
      transform: rotate(0);
      background-color: none;

    }

    &:hover,
    &:focus {
      background-color: $greymid;

      
    }

    &.button-active {
      .menu_svg { //inline svg icon
        transform: rotate(90deg);
      }
    }
    

    @include bp(tabletport){
      display: none;
    }

  }

  .primary-nav {
    padding-top: 22px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    transition: all .5s ease;
    transform: translateX(100%);
    transform-origin: left;

    &.menu-open {
    
      transform: translateX(0);
      opacity: 1;

    }

  }

  .level-1 {
    margin: 101px 0 0;
    background: $greydk;

    box-shadow: 0px 10px 26px -6px rgba(0,0,0,0.75);

    > li {
      border-bottom: 1px solid $white;
      text-align: center;

      a {
        z-index: 2;
        background: $greydk;
      }
      
    }

    a { 
      display: inline-block;
      padding: .2em 1em;
      //width: 150px;
      width: 100%;
      text-align: left;

    }

    .toc {
      background: $greymid;
      
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease;
      transform: translateY(-100%);
      transform-origin: top;
      opacity: 0;
      z-index: 1;
      
      &.submenu-open {
        position: relative;
        transform: translateY(0);
        opacity: 1;
      }

      li {
        font-size: .8em;
        font-weight: 200;
      }

      span {
        display: none;
      }
    }
  }

}
  

@include bp(tabletport){
  .primary-nav ul {
    overflow: visible;

    .toc {   
      background: $greydk;
      padding-left: 20px;
      position: absolute;
      padding-right: 20px;
      padding-bottom: 20px;
      transition: all .3s ease;
      transform: translateX(100%);
      transform-origin: right top;
      //opacity: 0;
      z-index: 1;
      
      &.submenu-open {
        position: absolute;
        
        //opacity: 1;

        &.subitem-0 {
          transform: translateX(-10%);
        }

        // &.subitem-1 & {

        // }

        &.subitem-2 {
          
          transform: translateX(-50%);
        }

        // .subitem-3 & {
          
        // }
      }

  
      li {
        width: 100%;

        a {
          white-space: nowrap;
        }
      }



    }
  }


}

//demo pages only link back to parent index page
.to-index-link {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


// if sticky nav:
.nav-sticky {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}


















