footer {

	bottom: 0;
	position: absolute;
	width: 100%;

	background: $dark;
	color: $light;
	overflow: hidden;

	.copyright {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			display: inline-block;
		}

		a {
			color: $light;
		}
	}
}