.wrapper {
	min-height: 100vh;
	overflow-x: hidden;
}

.inner {
	@extend %clearfix;
	margin: 0 auto;
	padding: 10px 10px;
	

	@include bp(tabletport){
		width: 90%;
	}


}


.link-top {
	@include hide-text(50px, 50px, '/assets/img/arrow_up.svg', contain);
	display: inline-block;
	margin: 20px 0;
}
