
header {
	background: $dark;
	color: $light;
  z-index: 3;

	@include bp(tabletport){
		padding: 0;
	}

	a {
		color: $light;
	}


}


.header-logo {
	
	z-index: 3;

	svg {
		width: 38%;
		height: 38%;
		max-width: 120px;

		@include bp(tabletport){
			max-width: 200px;
		}

		.homepage & {
			width: 40%;
			height: 40%;
		}
	}
}



/* for link back to kitchensunk homepage (from sub sections) */
.simple-nav {
	padding: 10px 0 0;
}



.link-home {
	display: block;
  height: 85px;
	margin: 0 20px;
  overflow: hidden;
  text-indent: 100%;
	transition: transform .5s ease;
	transform: scale(1);
  white-space: nowrap;
	width: 90px;


	&:hover {
		transform: scale(1.1);
	}

	&.logo-dark {
		background: url('/assets/img/logo_simple-black.svg') no-repeat 0 0;
		background-size: 99%;		//fix IE (bottom cuts off at certain sizes, including 100%/contain)
	}

	&.logo-light {
		background: url('/assets/img/logo_simple-white.svg') no-repeat 0 0;
		background-size: 99%;	
	}

	.proj-swiper-paralax & {
		position: absolute;
		z-index: 100;
	}
}

//as used on the tertiary level pages (e.g. susy grid demos)
.link-back {
	background: $black;
  color: $white;
  display: block;
  width: 100%;
  padding: 10px;
}



