//colour variables
$olive: #80991c;
$greydk: #333;
$grey: #888;
$greylt: #ccc;
$olivedk: #6b7a32;

$red: #f00;

$orange: #f90;
$yellow: #ff0;
$green: #008000;
$blue: #00f;
$purple: #800080;


//set all to pos rel if not already set elsewhere
* {
  position: relative;
}

//Animated graphs from table html

//hide table with js
.js .graph-table,
.js .group-table {
  display: none;
}


//VARIABLES
$colsnum: 5;
$bars-height: 200px;
$bar-width: 35px;
$barcol-width: 40px;
$xlabel-height: 30px;
$yaxis-width: $barcol-width * $colsnum;
$caption-height: 30px;
$yunit-height: $bars-height/$colsnum;
$ylabel-width: 40px;
$overfigure-bg: #cecece;

$tooltip-transition: all .8s ease-out;



//TABLES STYLES for non JS-enabled
table {
  border-collapse: collapse;
  width: 100%;  

  caption {
    padding: 0;
    text-align: left;
  }

  thead th {
    border-bottom: 1px solid #fff;
  }


  th, 
  td {
    margin: 0;
    padding: 10px;
    text-align: left; 
  }
}


//GENERATED GRAPH STYLES

//generated graph - styling
.gg-wrap { //default class for generated graph wrapper element
  //height: $bars-height + $caption-height + $xlabel-height; 

  .gg-caption { //default class for heading generated from table caption
    height: $caption-height;
    margin: 0 0 20px;
  }

}

//The graph element box
.gg {
  height: $bars-height + $xlabel-height; 
  
}

.gg--has-yaxis {
  margin-left: $ylabel-width;
}


// X-Axis 
.gg__x-axis {
  bottom: 0;
  position: absolute;
  text-align: center;

  span {
    display: inline-block;
    width: $barcol-width;
  }
}



// Graph Bars 
.gg__bars {                   
  //background: #fff;  
  border-left: solid 1px $greylt; 
  //border-right: solid 1px $greylt; 
  height: $bars-height; //need to fix height
  position: absolute;
  z-index: 10;

  // X-Axis
  @at-root .gg__bar-wrap {            
    //border-left: solid 1px $greylt;     
    display: inline-block;
    height: 100%;    
    width: $barcol-width;

    &:first-child {
      border-left: 0;
    }

  }

  @at-root .gg__bar {
    background-color: $grey;
    bottom: 0;
    height: 0; 
    left: 0;
    position: absolute;
    text-align: center;
    width: $bar-width;

    //bar figures shown statically:
    span {
      display: block;
      left: -3px;
      top: -20px;
      width: 40px;
    }

    em {
      bottom: -20px;
      position: absolute;
    }

    //set individual bar colours
    
    &.bar-0 {
      background-color: $orange;
    }

    &.bar-1 {
      background-color: $yellow;
    }

    &.bar-2 {
      background-color: $green;
    }

    &.bar-3 {
      background-color: $blue;
    }

    &.bar-4 {
      background-color: $purple;
    }

  }

  @at-root .gg__bar--tooltip {
    //bar figures shown on mouseover:
    cursor: pointer; 

    span {
      transition: $tooltip-transition;
      display: block;
      margin: 0;        
      opacity: 0;
      top: 10px;
      width: 40px;
      //z-index: 20;
    }

    &:hover span,
    &.showing span {
      display: block;
      margin-top: -25px;
      opacity: 1;
      top: 0;
    }
  }

  
}



// Y-Axis 
.gg__y-axis {
  margin: 0;
  padding-left: 0;
  position: absolute;
  text-align: right;
  width: 100%;//$yaxis-width;

  li {
    border-top: 1px solid $grey; //background horizontal lines
    display: block;
    height: $yunit-height;
    width: 100%;  

    span {
      display: block;
      //margin: -10px 0 0 -60px;
      //padding: 0 10px;
      margin-left: -$ylabel-width;
      margin-top: -10px;
      text-align: left;
      width: $ylabel-width;
    }
  }
}



//Demo styling
.tg__single {
  background: $greydk;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 1%;
  padding: 20px;
  width: 100%;

  &.data-table2 {
    min-width: 650px; //for the largest graph
    //planning to improve script so that it switches to horizontal bars on smaller screens
  }
  
  
  @media (min-width: 800px){
    width: 80%;
  }
}

.tg--group__single {
  width: 300px;
  @media (min-width: 700px){
    width: 30%;
  }
  

  .gg__bars,
  .gg__bar-wrap {
    border: 0;
  }
}

.show-tooltips {
  border: 0;
  border-radius: 5px;
  background: #80991c;
  color: #000;
  margin: 10px 0;
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 10;
}


//demo styling to override site styles:
h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 10px;
}

