@charset "UTF-8";



body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden; }

a {
  color: #fff;
  text-decoration: underline; 

  &:focus,
  &:hover {
    color: #ff0;
  }

}


ul, 
ol {
  padding-left: 2em; 
}


pre {
  margin: 0;
  font-size: 1.4em;
  background-color: #e7e7e7;
  padding: .5em; 
}



p, li, form {
  font-family: sans-serif;
}

h1, h2 {
  font-family: serif;
  font-weight: normal; 
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2em;
}

ul {
  list-style: none;
  margin: 0 0 2em;
  padding: .5em .2em;
  background: #333;
}

@media screen and (min-width: 768px){
  ul {
    padding: 2em;
  }

}
li {
  overflow: hidden;

  span {
    float: left;
    width: 90%;
  }
  
  input[type="checkbox"] {
    float: left;
    width: 10%;
    margin-top: 5px;
    margin-bottom: 7px;

    @media screen and (min-width: 768px){  
      width: 30px;
    }
  }

}





form {
  width: 100%; 
}

label {
  display: block;
  margin-bottom: .5em;
}

input {
  color: #000;
  display: block;
  margin: 0 0 1.4em;
  width: 100%;}

button {
  color: #000;
  font-size: 1.6em;
}

form button {
  font-size: 1em;
  font-weight: bold;
}

.centre {
  margin: 0 auto;
  max-width: 940px;
  width: auto;
  padding: 0 2em; } 

.destroy {
  border: 1px solid #fff;
  margin-top: 2em;
  padding: 1em 2em 2em;
}

/* Todos */
.done-true {
  text-decoration: line-through;
  color: grey;
}

.donepile, 
.donepile a {
  color: grey;
}

.list_container,
.destroy {
  padding: 0 .5em .5em;
  border: solid 1px #fff;
  margin-bottom: .5em;
}


@media screen and (min-width: 768px){
  .list_container,
  .destroy {
    padding: 0 2em 2em;
    margin-bottom: 2em;
  }

  .alignment {
    text-align: right;
  }
}

