/*--------- base.scss ------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  position: relative;
}

body {
  //font-size: 62.5%;
  background-color: $light;
  color: $dark;
}

a {
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
//below was used for flexbox test
// header,
// main,
// footer {
//  width: 90%;
//  margin: auto;
// }
// header {
//  text-align: center;
// }

