//Typography

//Fonts


//Set base font-size to be 1em = 10px rather than 16px:
// html { 
  //font-size: 62.5%; 
//}

//Font-sizing idea from CSS-Tricks:
//- enable scaling of font-sizes, but not at root document level, but setting sizes in rem units for each module

//Document level adjustments:
html {
  //default is mobile
  font-size: 16px; 

  @include bp(tabletland) {
    font-size: 18px; 
  }

  @include bp(desktop) {
    font-size: 20px; 
  }

}



// Modules will scale with document
// needs a fallback for IE8 and older
header {
  font-size: 1.2rem;
}

main {
  font-size: 1rem;
}

footer {
  font-size: .8rem;
}

aside {
  font-size: .9rem;
}

// Type will scale with modules
h1 {
  font-size: 2.6em;

  @include bp(tabletport){
    font-size: 3em;
  }

  span {
    display: block;
    font-size: .5em;
  }
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1em;
}

pre,
code {
  font-size: .8em;
}
