// generic
* {
	box-sizing: border-box;
	position: relative;
}

    
//form elements:
.calculator form {
  //width: 280px;
  margin: 15px 10px 0;
  padding-bottom: 5px;
  //float: left;
  border-bottom: 1px solid #c7c7c7;
}
.calculator form select {
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  font-size: 12px;
  padding-left: 11px;
  padding-top: 0;
  float: left;
}
.calculator label {
  float: left;
  width: 85px;
  height: 34px;
  font-size: 14px;
  line-height: 17px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'TelesansRegular';
}
.calculator .styled-select {
  //float: left;
  width: 183px;
  height: 33px;
  overflow: hidden;
  border: 1px solid #c7c7c7;
  margin: 0 0 10px;
  position: relative;
  background: #fff; 
}
.calculator .styled-select select {
  background: transparent;
  width: 185px;
  padding: 5px;
  font-size: 12px;
  font-family: 'TelesansRegular';
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 33px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  margin: -1px -1px 0; 
  z-index: 2;
  position: relative;
}
.calculator .styled-select:after {
  width: 7px;
  height: 7px;
  content: '';
  display: block;  
  position: absolute;
  top: 9px;
  right: 9px;
  border-color: #000;
  border-style: solid;
  border-width: 4px 4px 0 0;
  transform: rotate(135deg);
  z-index: 1;
}

.gg {
	padding: 20px;
	
}

.gg_col-inner {		

	span {
		display: inline-block;
	}

	//text labels
	.bank {
		
	}
	.amount {
		display: inline-block;
	}
	.difference {

	}
}

.vertical {

	.gg_col-inner	{
		display: inline-block;
		text-align: center;
		width: 50px;

		.gg_bar {
			display: inline-block;
			text-align: center;
			width: 20px;	
			height: 0;		
		}
	}

	//text labels
	.bank {
		
	}
	
}

.horizontal {

	max-width: 90%;

	.gg_col-inner	{
		height: 50px;
		padding-right: 200px;

		.gg_bar {
			display: inline-block;
			height: 20px;
			width: 0;
			margin-left: 100px;
		}
	}
	
	.bank {
		min-width: 100px;
		position: absolute;
		left: 0;
	}

	.amount {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 5px;
	}

	.difference {
		position: absolute;
		right: 0;
		top: 15px;
		padding: 0 5px;
	}
}

.gg_bar {
	transition: all ease 1s;

	&.bar_0 {
		background: #1383c6;
	}
	&.bar_1 {
		background: #319ad3;
	}
	&.bar_2 {
		background: #62b1db;
	}
	&.bar_3 {
		background: #93c7e4;
	}
}








