/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* h1 {
  font-size: 2em;
  margin: 0.67em 0;
} */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.inner:after {
  content: '';
  display: table;
  clear: both; }

.hide-text-from-browser {
  width: 100px;
  height: 100px;
  background: url("../images/clubs.svg") no-repeat 0 0;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }
  .no-svg .hide-text-from-browser {
    background: url("../images/recycle.png") no-repeat 0 0; }

/*--------- base.scss ------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  position: relative; }

body {
  background-color: #fff;
  color: #333; }

a {
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

html {
  font-size: 16px; }
  @media (min-width: 1024px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1400px) {
    html {
      font-size: 20px; } }

header {
  font-size: 1.2rem; }

main {
  font-size: 1rem; }

footer {
  font-size: .8rem; }

aside {
  font-size: .9rem; }

h1 {
  font-size: 2.6em; }
  @media (min-width: 641px) {
    h1 {
      font-size: 3em; } }
  h1 span {
    display: block;
    font-size: .5em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

p {
  font-size: 1em; }

pre,
code {
  font-size: .8em; }

.wrapper {
  min-height: 100vh;
  overflow-x: hidden; }

.inner {
  margin: 0 auto;
  padding: 10px 10px; }
  @media (min-width: 641px) {
    .inner {
      width: 90%; } }

.link-top {
  width: 50px;
  height: 50px;
  background: url("/assets/img/arrow_up.svg") no-repeat 0 0;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin: 20px 0; }

header {
  background: #333;
  color: #fff;
  z-index: 3; }
  @media (min-width: 641px) {
    header {
      padding: 0; } }
  header a {
    color: #fff; }

.header-logo {
  z-index: 3; }
  .header-logo svg {
    width: 38%;
    height: 38%;
    max-width: 120px; }
    @media (min-width: 641px) {
      .header-logo svg {
        max-width: 200px; } }
    .homepage .header-logo svg {
      width: 40%;
      height: 40%; }

/* for link back to kitchensunk homepage (from sub sections) */
.simple-nav {
  padding: 10px 0 0; }

.link-home {
  display: block;
  height: 85px;
  margin: 0 20px;
  overflow: hidden;
  text-indent: 100%;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  white-space: nowrap;
  width: 90px; }
  .link-home:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .link-home.logo-dark {
    background: url("/assets/img/logo_simple-black.svg") no-repeat 0 0;
    background-size: 99%; }
  .link-home.logo-light {
    background: url("/assets/img/logo_simple-white.svg") no-repeat 0 0;
    background-size: 99%; }
  .proj-swiper-paralax .link-home {
    position: absolute;
    z-index: 100; }

.link-back {
  background: #000;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px; }

main {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  padding-bottom: 5em; }
  .no-csstransforms main {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%; }

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: #333;
  color: #fff;
  overflow: hidden; }
  footer .copyright {
    float: left; }
  footer ul {
    float: right;
    list-style: none; }
    footer ul li {
      display: inline-block; }
    footer ul a {
      color: #fff; }

.primary-nav {
  float: right;
  padding-top: 10px; }
  .simple-nav .primary-nav {
    top: 74px; }
  @media (min-width: 641px) {
    .primary-nav {
      float: none;
      position: absolute;
      right: 0;
      bottom: 0; }
      .simple-nav .primary-nav {
        top: 40px; } }
  .primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .primary-nav ul li {
      display: block; }
      @media (min-width: 641px) {
        .primary-nav ul li {
          display: inline-block; }
          .primary-nav ul li span {
            display: none; } }
    .primary-nav ul a {
      color: #fff; }
      .primary-nav ul a:hover, .primary-nav ul a:focus, .primary-nav ul a.active {
        color: #ccc;
        text-decoration: none; }
      @media (min-width: 641px) {
        .primary-nav ul a {
          display: block;
          padding: .5em; } }

.menu-button {
  display: none; }

@media (max-width: 640px) {
  .menu-button {
    border-radius: 50% 50%;
    border: 2px solid #ccc;
    color: #fff;
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    text-indent: -100px;
    overflow: hidden;
    font-size: 1px;
    transition: background-color .5s ease;
    background-color: #333; }
    .menu-button:after {
      content: '';
      color: #fff;
      position: absolute;
      top: 0;
      left: 5px;
      height: 50px;
      width: 50px; }
    .menu-button .menu_svg {
      width: 30px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 8px;
      transition: all .5s ease;
      fill: #fff;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      background-color: none; }
    .menu-button:hover, .menu-button:focus {
      background-color: #555; }
    .menu-button.button-active .menu_svg {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }
  @media (max-width: 640px) and (min-width: 641px) {
    .menu-button {
      display: none; } }

@media (max-width: 640px) {
  .primary-nav {
    padding-top: 22px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    transition: all .5s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform-origin: left;
            transform-origin: left; }
    .primary-nav.menu-open {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }
  .level-1 {
    margin: 101px 0 0;
    background: #333;
    box-shadow: 0px 10px 26px -6px rgba(0, 0, 0, 0.75); }
    .level-1 > li {
      border-bottom: 1px solid #fff;
      text-align: center; }
      .level-1 > li a {
        z-index: 2;
        background: #333; }
    .level-1 a {
      display: inline-block;
      padding: .2em 1em;
      width: 100%;
      text-align: left; }
    .level-1 .toc {
      background: #555;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
      z-index: 1; }
      .level-1 .toc.submenu-open {
        position: relative;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1; }
      .level-1 .toc li {
        font-size: .8em;
        font-weight: 200; }
      .level-1 .toc span {
        display: none; } }

@media (min-width: 641px) {
  .primary-nav ul {
    overflow: visible; }
    .primary-nav ul .toc {
      background: #333;
      padding-left: 20px;
      position: absolute;
      padding-right: 20px;
      padding-bottom: 20px;
      transition: all .3s ease;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transform-origin: right top;
              transform-origin: right top;
      z-index: 1; }
      .primary-nav ul .toc.submenu-open {
        position: absolute; }
        .primary-nav ul .toc.submenu-open.subitem-0 {
          -webkit-transform: translateX(-10%);
                  transform: translateX(-10%); }
        .primary-nav ul .toc.submenu-open.subitem-2 {
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
      .primary-nav ul .toc li {
        width: 100%; }
        .primary-nav ul .toc li a {
          white-space: nowrap; } }

.to-index-link {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px; }

.nav-sticky {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }
/*# sourceMappingURL=prefixed-all.css.map */