.tab-headers {
  list-style-type: none;
  margin: 30px 0 0px 0;
  padding: 0;
  text-align: center; 
  border: solid 1px green;
}
.tab-headers li {
  display: inline-block;
  border-left: solid 1px green;
  padding: 5px 20px;
  margin-bottom: 4px;
  color: #000;
  cursor: pointer; 
}
.tab-headers li:hover {
  background-color: #fff; 
}
.tab-headers li.active {
  background-color: orange; 
}

.tab-content {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
.tab-content div {
  display: none;
  padding: 2em;
  border: solid 1px green; 
  border-top: 0;
}
.tab-content div.active {
  display: block; 
}
.tab-content div h2 {
}
